<!DOCTYPE html>
<html>
<head>
	<title>Video Gallery</title>
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="css/gallery.css">
</head>
<body>

	<div id="vid_1">
	<input id="add_file" type="submit" name="add" value="+">
	<input type="file" id="my_file">
	<img id="placeholder" src="images/video_default.png">	
	<video src="" ></video>
	</div>

	<div id="vid_2">
	<input id="add_file" type="submit" name="add" value="+">
	<input type="file" id="my_file">
	<img id="placeholder" src="images/video_default.png">
	<video src=""></video>	
	</div>

	<div id="vid_3">
	<input id="add_file" type="submit" name="add" value="+">
	<input type="file" id="my_file">
	<img id="placeholder" src="images/video_default.png">
	<video src=""></video>	
	</div>

	<div id="vid_4">
	<input id="add_file" type="submit" name="add" value="+">
	<input type="file" id="my_file">
	<img id="placeholder" src="images/video_default.png">
	<video src=""></video>	
	</div>


<script src="js/gallery.js"></script>

</body>
</html>