<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/master.css">
    <title>manhattanUnderground</title>
  </head>
  <body>
    <div id="main" class="container">
      <div id="header" class="row">
          <div class="two columns">
            <div class="">
              <div id="logo" class=""></div>
            </div>
          </div>
          <div class="ten columns">
            <div class="button" onclick="" >Video Gallery</div>
            <div class="button" onclick="" >Newsletter</div>
            <div class="button" onclick="" >Contact</div>
            <div class="button" onclick="" >Home</div>
          </div>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
