<!DOCTYPE html>
<html>
<head>
	<title>NewsLetter Form</title>
	<link rel="stylesheet" href="css/skeleton.css">
	<link src="newsletter.js">
	<link rel="stylesheet" type="text/css" href="css/newsletter.css">
</head>
<body>

<br>
	<h1>Sign Up Here for a Weekly Newsletter!</h1>
		<form method="post" action="/newsletter">
		<div id="sign_up"> 
			
				<input id="first_name" name="first_name" type="text" placeholder="First Name">
				<input id="last_name" name="last_name" type="text" placeholder="Last Name">
				<input id="email" name="email" type="text" placeholder="Email">
				<input id="submit" type="submit" value="Submit">
			
		</div>

		<div id="dropdown">
				<select id="ocupation" name="ocupation">
					<option placeholder="Ocupation">Ocupation</option>
					<option value="enthusiast">Enthusiast</option>
					<option value="actor">Actor</option>
					<option value="producer">Producter</option>
					<option value="writer">Writer</option>	
					<option value="editor">Editor</option>
					<option value="casting">Casting Director</option>
					<option value="camera_operator">Camera Operator</option>
					<option value="wardrobe">Costume/Wardrobe</option>
					<option value="makeup">Make Up Artist</option>
					<option value="props">Props</option>
					<option id="_2" name="other" value="other">Other</option>
					<input id="other_1" type="text" placeholder="Other">
				</select>
			</form>
		</div>

		<div id="comment_space">
		</div>
		
		
		<form id="comments">
			<textarea type="textarea" rows="4" cols="95" id="user_textbox"></textarea>
			<input id="comSub" type="submit" value="Submit">
		</form>
		
	
	

		<script src="js/newsletter.js"></script>
</body>
</html>