html, body {
  margin: 0px;
  padding: 0px;
}
#main{
  width: 100%;
  height: 100vh;
}
#header {
  background-color: black;
  width: 100%;
  margin: 0px;
  padding: 0px;
  /*z-index: 1;*/
  /*border: 1px solid red;*/
}
#logo {
  /*background-color: black;*/
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 40vh;
  text-align: center;
  vertical-align: middle;
  font-family: helvetica;
  color: white;
  /*border: 1px solid red;*/
}

.button {
  float: right;

}
