h1{
	text-align: center;
}
#sign_up{
	margin-left: 350px;
}
#dropdown{
	margin-left: 550px;
}
#other_1{
	/*display: none;*/
}

#comment_space{
	height: 300px;
	width: 600px;
	border: solid black 3px;
	margin-left: 300px;
}

#comments{
	margin-left: 300px;
}

#comSub{

	margin-left: 500px;
}
.comment:nth-child(2n) {
	background-color: #CCAACC;
}